{% extends 'base.html' %} 
{% block content %} {% load static %}


  <!-- Carousel wrapper -->
<div id="carouselMaterialStyle" class="carousel slide carousel-fade " data-mdb-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner rounded-5 shadow-4-strong">
    <!-- Single item -->
    <div class="carousel-item active">
      <img src="{%static 'images\forest3.jpg'%}" class="d-block w-100 "
      width="400"
          height="600"
        alt="Sunset Over the City" />
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>First slide label</h5> -->
        <p >“We’ve all got to come together, and we’ve got to protect what’s left of our ancient forests on this planet.”</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="{%static 'images\forest2.jpg'%}" class="d-block w-100"
      width="400"
          height="600"
        alt="Canyon at Nigh" />
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Second slide label</h5> -->
        <p style="color: black; font-weight: bold; ">“I love the forest. It is the place where you hear yourself better.”</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="{%static 'images\forest4.jpg'%}" class="d-block w-100"
      width="400"
          height="600"
        alt="Cliff Above a Stormy Sea" />
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>Third slide label</h5> -->
        <p >"The death of the forest is the end of our life."</p>
      </div>
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->

<center>
<h1 >sollution description</h1>

<p>Lorem ipsum dolor sit amet. Eum omnis delectus id quia eligendi non ullam sapiente et officiis doloremque. Et eaque doloremque est quasi dolores aut cupiditate itaque vel omnis consequatur qui vitae doloribus nam praesentium numquam. Qui internos nihil sit velit accusamus qui repellat ratione aut molestiae mollitia est beatae vitae eum vero rerum. Eos odio quia in praesentium quae est voluptas quod ut velit laboriosam vel similique nostrum.

  Aut laboriosam error et laborum voluptatem est dolorum officiis et voluptatem voluptas. Aut animi maxime non suscipit animi non cupiditate quisquam ut officiis aperiam. Aut cumque dolore ad veritatis facere ut iure commodi est voluptatem distinctio eum cupiditate porro.
  
  In aliquam nihil est omnis maiores et magni repudiandae et incidunt libero et expedita rerum. Et fuga architecto quo harum velit qui provident earum aut harum voluptatem ut dolorum eaque sed natus exercitationem qui harum blanditiis. Non quibusdam perspiciatis est unde fugiat quo quas voluptatem ea dicta molestiae. Et tenetur delectus sed eligendi omnis qui veritatis rerum.</p>


  <p>Lorem ipsum dolor sit amet. Eum omnis delectus id quia eligendi non ullam sapiente et officiis doloremque. Et eaque doloremque est quasi dolores aut cupiditate itaque vel omnis consequatur qui vitae doloribus nam praesentium numquam. Qui internos nihil sit velit accusamus qui repellat ratione aut molestiae mollitia est beatae vitae eum vero rerum. Eos odio quia in praesentium quae est voluptas quod ut velit laboriosam vel similique nostrum.

    Aut laboriosam error et laborum voluptatem est dolorum officiis et voluptatem voluptas. Aut animi maxime non suscipit animi non cupiditate quisquam ut officiis aperiam. Aut cumque dolore ad veritatis facere ut iure commodi est voluptatem distinctio eum cupiditate porro.
    
    In aliquam nihil est omnis maiores et magni repudiandae et incidunt libero et expedita rerum. Et fuga architecto quo harum velit qui provident earum aut harum voluptatem ut dolorum eaque sed natus exercitationem qui harum blanditiis. Non quibusdam perspiciatis est unde fugiat quo quas voluptatem ea dicta molestiae. Et tenetur delectus sed eligendi omnis qui veritatis rerum.</p>
    
    <p>Lorem ipsum dolor sit amet. Eum omnis delectus id quia eligendi non ullam sapiente et officiis doloremque. Et eaque doloremque est quasi dolores aut cupiditate itaque vel omnis consequatur qui vitae doloribus nam praesentium numquam. Qui internos nihil sit velit accusamus qui repellat ratione aut molestiae mollitia est beatae vitae eum vero rerum. Eos odio quia in praesentium quae est voluptas quod ut velit laboriosam vel similique nostrum.

      Aut laboriosam error et laborum voluptatem est dolorum officiis et voluptatem voluptas. Aut animi maxime non suscipit animi non cupiditate quisquam ut officiis aperiam. Aut cumque dolore ad veritatis facere ut iure commodi est voluptatem distinctio eum cupiditate porro.
      
      In aliquam nihil est omnis maiores et magni repudiandae et incidunt libero et expedita rerum. Et fuga architecto quo harum velit qui provident earum aut harum voluptatem ut dolorum eaque sed natus exercitationem qui harum blanditiis. Non quibusdam perspiciatis est unde fugiat quo quas voluptatem ea dicta molestiae. Et tenetur delectus sed eligendi omnis qui veritatis rerum.</p>
      
</center>
{% endblock %}

