{% extends 'base.html' %} 

{% block content %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Markers Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Leaflet CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" 
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" 
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
   
    <!-- Leaflet Draw CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />


  </head>
  <body  style="background-color:#e9d58b; ">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-3">
          <!-- Sidebar -->
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title" style="text-align:center; color:rgb(51, 77, 4);">Projects</h5>
             </div>
            <div class="card-body">
              {% for polygon in polygons %}
              <div class="card mb-2 " style="background-color: #d4d6d8; display: flex; flex-direction: column;">
                <div class="card-body text-vert">
                  <h6 class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);">Prject name: {{ polygon.nom }}</h6>
                  <h6 class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);">Client name: {{ polygon.client }}</h6>
                  <h6 class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);">ID: {{ polygon.idPolygone }}</h6>
                  <button class="btn btn-dark  mx-auto d-block" style=' background-color: #e9d58b; color:#2B2612; font-size: 12px;' onclick="location.href='{% url 'polygon_detail' polygon.idPolygone %}'">View all detail</button>
                </div>
              </div>
              {% endfor %}
             </div>
            </div>
         </div>
         
          

           <form method="POST">
             {% csrf_token %}



             <div class="col-md-9 mt-6">
              <div class="card">
                  <div class="card-header text-center">
                      <h4>Step 3 - Add parcel</h4>
                  </div>
                  <div class="card-body">
                      <div class="form-group">
                      
                          <div class='col-6 rounded ' id="mapid" style="width: 800px;height: 500px; box-sizing:border-box; margin-top: 20px;  border-radius: 50px;">
                            <div class="leaflet-control"></div>
                         </div>
         
                    
                  
                    <label for="geom">Geometry:</label>
                    <input type="text" id="cord" name="points" style="margin-right: 375px;" /> <br><br>
                      </div>
                      <button id="save-polygon-btn" class="btn btn-dark" style='width:30%; background-color: #A26A25; color:#2B2612; font-size: 15px;'>Next </button>
                  </div>
               </div>
           </div>
             


             

                
             


        
                 
  
    
             
                
            </form>
         
      </div>
    </div>

 <script src="{% static 'js/map.js' %}"></script>



  </body>
</html>

{% endblock %}