




{% extends 'base.html' %} 

{% block content %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Markers Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Leaflet CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" 
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" 
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
   
    <!-- Leaflet Draw CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


  </head>
  <body  style="background-color:#e9d58b; ">
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-3">
          <!-- Sidebar -->
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title" style="text-align:center; color:rgb(51, 77, 4);">Projects</h5>
             </div>
             <div class="card-body">
              <div class="card mb-2">
                <div class="card-body">
                  <button class="btn btn-dark  mx-auto d-block" style=' background-color: #A26A25; color:#2B2612; font-size: 15px;' onclick="location.href='{% url 'start' %}'">Add New Project</button>
                </div>
              </div>
              {% for project in projects %}
              <div class="card mb-2 " style="background-color: #d4d6d8; display: flex; flex-direction: column;">
                <div class="card-body text-vert">
                  <h6 class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);">Prject name: {{ project.nom }}</h6>
                  <h6 class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);">Client name: {{ project.client }}</h6>
                  <h6 class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);">ID: {{ project.idProject}}</h6>
                  <button class="btn btn-dark  mx-auto d-block" style=' background-color: #e9d58b; color:#2B2612; font-size: 12px;' onclick="location.href='{% url 'polygon_detail' project.idProject %}'">View all detail</button>
                </div>
              </div>
              {% endfor %}
             </div>
             </div>
            </div>
         
          

           <form method="POST">
             {% csrf_token %}
               
             <h1>Details of : {{ my_project.nom }}</h1>

                  
                    <div class="row justify-content-left align-items-center">
                      <div class="col-md-4 mt-5">
                          <div class="card">
                              <div class="card-header text-center">
                                  <h5>Client Information</h5>
                              </div>
                              <div class="card-body">
                                  <p><strong>Client: </strong>{{ my_project.client }}</p>
                                  <p><strong>Start : </strong>{{ my_project.Date_start }}</p>
                                  <p><strong>End : </strong>{{ my_project.Date_end|date:"F d, Y" }}</p>
                              </div>
                          </div>
                      </div>
                  
                      <div class="col-md-4 mt-5">
                          <div class="card">
                              <div class="card-header text-center">
                              {% if my_project %}
                              <h5><a href="{% url 'update' my_project.idProject %}">Weather Information</a></h5>
                              {% endif %}

                                  
                              </div>
                              <div id="weather-info">
                                <div class="card-body">
                                    <p><strong>Temperature:</strong> {{ parm.temperature }}°C</p>
                                    <p><strong>Humidity:</strong> {{ parm.humidity }}%</p>
                                    <p><strong>Wind Speed:</strong> {{ parm.wind }} km/h</p>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  





                  <div class="row justify-content-left align-items-center">
                    <div class="col-md-4 mt-5">
                        <div class="card">
                            <div class="card-header text-center">
                                <h5>Node Information</h5>
                          
                            </div>
                            <br>
                            <div class="card-body">
                                <p><strong>Referance: </strong>{{ node.ref }}</p>
                                <p><strong>Sensors: </strong>{{ node.Sensors }}</p>
                                <p><strong>Duty Cycle: </strong>{{ 'Every 1 Min' }}</p>
                                <div id="rssi">
                                <p><strong>RSSI: </strong> {{ node.RSSI }}</p>
                                </div>
                                <p><strong>Battery level: </strong>{{ node.Battery_value }}%</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-4 mt-5">
                      <div class="col  mt-2">
                        <div class="card">
                            <div class="card-header text-center">
                                
                                <h5>Prediction result</h5>
                                
                            </div>
                            <div id="">
                              <div class="card-body">
                                  <p><strong>WFI :</strong>{{ polygon.WFI }}</p>
                                  {% if polygon.status == 'RISK' %}
                                  <p><strong>Status: </strong><span style="color:red; font-weight:bold">{{ polygon.status }}</span></p>
                                  {% elif polygon.status == 'SAFE' %}
                                  <p><strong>Status: </strong><span style="color:green; font-weight:bold">{{ polygon.status }}</span></p>
                                  {% endif %}
   
                              </div>
                          </div>
                        </div>
                      </div> 

                      <div class="col mt-2">
                        <div class="card">
                            <div class="card-header text-center">
                                
                                <h5>Detection result</h5>
                                
                            </div>
                            <div id="">
                              <div class="card-body">
                                  {% if polygon.status == 'RISK' %}
                                  <p><strong>Status: </strong><span style="color:red; font-weight:bold">{{ FIRE }}</span></p>
                                  {% elif polygon.status == 'SAFE' %}
                                  <p><strong>Status: </strong><span style="color:green; font-weight:bold">{{ 'NO FIRE' }}</span></p>
                                  {% endif %}
   
                              </div>
                          </div>
                        </div>
                      </div> 
                      
                    </div>
                </div>





                 

                 <div class="col-md-6">
                  <h2>Map</h2>
                  
                  <div class='col-6 rounded ' id="map" style="width: 800px;height: 500px; box-sizing:border-box; margin-top: 20px;  border-radius: 50px;">
                    <div class="leaflet-control"></div>
                 </div>
                

                 
               
                 <label for="geom">Geometry:</label>
                 <input type="text" id="geom" name="geom" value="{{ polygon.geom }}" readonly><br><br>

             
    
                
                
            </form>
         
      </div>
    </div>









 <script src="{% static 'js/map.js' %}"></script>






 <script>
  var client = "{{ client }}";
  var geojson_str = "{{ polygon.geom.json|escapejs }}";
  var status = "{{ polygon.status }}";
  var geojson = JSON.parse(geojson_str);
  
  // Define the colors for the polygon based on status
  var color = status === "Risk" ? "red" : "green";

  // Create a Leaflet map
  var map = L.map('map').setView([{{ polygon.geom.centroid.y }}, {{ polygon.geom.centroid.x }}], 14);

  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
  
  // Add the GeoJSON polygon to the map
  L.geoJSON(geojson, { style: { color: color } }).addTo(map);
  
  // Add the GeoJSON node to the map
  var geojson_node_str = "{{ node.point.json|escapejs }}";
  var geojson_node = JSON.parse(geojson_node_str);
  L.geoJSON(geojson_node).addTo(map);
  
  // Add the client name to the page
  document.getElementById('client').innerHTML = client;
</script>







 <script>
   $(document).ready(function() {
       setInterval(function() {
           $.ajax({
               url: "{% url 'update_weather' my_project.idProject %}",
               type: "GET",
               success: function(data) {
                   $('#weather-info').html(
                       '<div class="card-body">' +
                          '<p><strong>Temperature:</strong> ' + data.temperature + '°C</p>' +
                          '<p><strong>Humidity:</strong> ' + data.humidity + '%</p>' +
                          '<p><strong>Wind Speed:</strong> ' + data.wind + ' km/h</p>' +
                       '</div>'
                   );
                   $('#rssi').html(
                     
                          '<p><strong>RSSI: </strong>' + data.RSSI +' </p>' 
                   );
               },
               error: function(xhr, status, error) {
                   console.log("An error occurred: " + xhr.status + " " + xhr.statusText);
               }
           });
       }, 5000); // refresh every 5 seconds
   });
  </script>
  
  
  
  
  
  
 
  </body>
</html>

{% endblock %}