




{% extends 'base.html' %} 

{% block content %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Markers Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Leaflet CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" 
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" 
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
   
    <!-- Leaflet Draw CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


  </head>
  <body >
    {% csrf_token %}
    <div class='col-6 rounded ' id="map" style=" box-sizing:border-box; margin-top: 20px;  border-radius: 50px;">
        <div class="leaflet-control"></div>
    </div>







 <script src="{% static 'js/map.js' %}"></script>





 

<script>

  var geojson_str = "{{ polygon.geom.json|escapejs }}";
  var geojson = JSON.parse(geojson_str);
  //console.log(geojson_str);
  //var status = "{{ polygon.status }}";

  //console.log(geojson );

  // Create a Leaflet map
  var map = L.map('map').setView([{{ polygon.geom.centroid.y }}, {{ polygon.geom.centroid.x }}], 12);

   L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles © Esri — Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);
 $(document).ready(function() {
    setInterval(function() {
    $.ajax({
        url: "{% url 'update_weather' my_project.idProject %}",
        type: 'GET',
        success: function(data) {
            // Create a Leaflet map
            //var map = L.map('map').setView([35, 9.5], 12);
            //map.setView([{{ polygon.geom.centroid.y }}, {{ polygon.geom.centroid.x }}], 12);
            // Add a tile layer to the map
            // L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            //     attribution: 'Tiles © Esri — Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
            // }).addTo(map);
            // console.log("helo")

            // Parse the GeoJSON string
            //var geojson = JSON.parse(data.geojson_str);

            // Add the GeoJSON polygon to the map
            //L.geoJSON(geojson, { style: { color: data.polygon_status } }).addTo(map);

            // Add all nodes to the map
            var fireIcon = L.icon({
                iconUrl: '/static/images/fire3.png',
                iconSize: [50, 50],
                iconAnchor: [19, 19],
                popupAnchor: [0, -19]
            });
            
            for (var i = 0; i < data.length; i++) {
                console.log("helooooo")
                
                var d = data[i]
                var coords = JSON.parse(geojson_str).coordinates;
                //var first_coords = coords[0][0];
                var r = d.node.range;
                console.log(r)
                    var polygonOne = { 
                      "type": "Polygon",
                      "coordinates": [
                          coords[0][r]    
                      ]
                    };
              
             status = d.node.status; ;
             console.log( status )
             var color;
                if (status == "DOWN") {
                    color = "green";
                } else if (status == "MODERATE") {
                   color = "blue";
                } else if (status == "HIGH") {
                    color = "yellow";
                } else if (status == "VERY HIGH") {
                    color = "orange";
                } else if (status == "EXTREME") {
                    color = "red";
                    marker.setIcon(fireIcon);
                    marker.bounce(-1);
                } else {
                    color = "black";
                }
       

            //  var polygonLayer = L.geoJSON(polygonOne, { style: { color: color, fillOpacity: 0.5 } }).addTo(map);
            //  console.log("helooooo")
            var polygonLayer = L.geoJSON(polygonOne, { style: { color: color, fillOpacity: 0.5 } }).addTo(map);
            polygonLayer.setStyle({ color: color });
            polygonLayer.bindTooltip("Polygon " + ( d.node.range + 1));


            var marker = L.marker([ d.node.y ,  d.node.x ]).addTo(map);
            var latest_data = "<strong>Ref:</strong> "+  d.node.ref +" <br> <strong>RSSI:</strong> "+ d.node.RSSI  +" <br> <strong>FWI:</strong> " +  d.node.fwi +" <br> <strong>Predection result:</strong> <span style='color:" + color + ";'>" + status + "</span><br><strong>Detection Result:</strong> " +  d.node.camera  +" <br> <br><strong>Temperature:</strong> "+  d.temperature +" <br> <strong>Humidity:</strong>"+  d.humidity +" <br> <strong>Wind_speed:</strong> "+ d.wind +" <br>";
            console.log(latest_data);
            marker.bindPopup(latest_data).addTo(map); 

            }
          },
               error: function(xhr, status, error) {
                   console.log("An error occurred: " + xhr.status + " " + xhr.statusText);
               }
           });
       }, 5000); // refresh every 5 seconds
   });
  </script>

 






 
  
  
  
  
  
  
 
  </body>
</html>

{% endblock %}